{% extends "voucher/base.html" %}
 {% block title_block %}
		Create business!
 {% endblock %}
{% block body_block %}
    <div class="jumbotron p-1">
    <h3 align="center">Create a Business!</h3>
    </div>
    <div class="container">
        <div class="row">
            <form role="form" method="post" action="{% url 'voucherMe:add_business' user.username %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }} <br/>
                    {{ field }} <br/>
                    <div class="p-2"></div>
                {% endfor %}
                <button class="btn btn-primary" type="submit" name="submit">
                    Create Business!
                </button>
                <div class="p-5"></div>
            </form>
        </div>
    </div>
    <a href="{% url 'voucherMe:index' %}">Back to Home</a><br />
{% endblock %}
