{% extends "voucher/base.html" %}
{% load static %}
    {% block title_block %}
        Businesses
    {% endblock %}

 {% block body_block %}
     <div class="jumbotron p-1" style="background-color: aliceblue">
         <div class="container">
             <h2 align="center">All Businesses on VoucherMe!</h2>
         </div>
     </div>
<style>
/*
cards
*/
.card {
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.bus-image{
    border-radius: 50%;
    border: 1px solid #47345b;
    width: 25%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
</style>

     <center>
     <div class="container" style="width: 50%">
         <div class="form-group">
             <form role="form" method="get" action="{% url 'voucherMe:search' "business" %}">
                 {% csrf_token %}
                 <div class="form-group">
                     <label for="id_search" class="sr-only">Search</label>
                     <input type="text" name="search" id="id_search" class="form-control"
                            placeholder="Find Popular Businesses..." required autofocus style="margin-bottom: 6px">
                 </div>
                 <button class="btn btn-primary" type="submit" name="submit">
                    Search!
             </button>
             </form>
         </div>
     </div>
     </center>

     <center>
     {% if businesses %}
         {% for business in businesses %}
             <div class="card">
                 {% if business.image %}
                     <center/>
                     <div class="bus-image">
                         <img src="{{ business.image.url}}" alt="Businesses chosen image"/>
                     </div>
                 {% else %}
                     <center/>
                     <div class="bus-image">
                         <img src="{% static 'images/img_2.png' %}">
                     </div>
                 {% endif %}
                 <div class = "container">
                     <a href="{% url 'voucherMe:show_business' business.slug %}">{{ business.name }}</a>
                 </div>
             </div>
             <br>
         {% endfor %}
    {% else %}
        <strong>There are no businesses register on VoucherMe yet :(</strong>
     {% endif %}
     </center>
 {% endblock %}