{% extends "voucher/base.html" %}
{% load static %}
    {% block title_block %}
        {% if business %}
            {{ business.name }}
        {% else %}
            Unknown Business :(
        {% endif %}
    {% endblock %}

    {% block body_block %}
        {% if business %}
		
                <div class="jumbotron p-1">
                    <div class="container">
                        <h2 align="center">Welcome to {{ business.name }}</h2>
                    </div>
                </div>
            {% if posts %}
                <h4>Posts</h4>
				<section id="services">
				<ul>
					<li><strong><center> Post Title </strong> </li> <pre class="tab"> </pre>
					<li><strong><center> Post visits </strong></li> <pre class="tab"> </pre>
					<li><strong><center> Tags </strong></li> <pre class="tab"> </pre>
					<li><strong><center> Promo Code </strong></li>
					<br>
				</section>
                <ul>
				<br>
				<section id="services">
                    {% for post in posts %}
					<ul>
                        <li><a href="{% url 'voucherMe:show_post' business.slug post.id %}">{{ post.name }}</a></li>
						<pre class="tab"> </pre>
							<li> {{ post.visits }}</li>
							<pre class="tab"> </pre>
							<li>{{ post.get_tags_category_display }} | {{ post.get_tags_type_display }}</li>
							<pre class="tab"> </pre>
							{% if post.promo %}
								<li> {{ post.promo }} </li>
								{% endif %}
						</ul>
						<h5></h5>
						<br>
                    {% endfor %}
					</section>
                </ul>

            {% else %}
                There are no posts from <strong id="business">{{ business.name }} </strong> yet :(
            {% endif %}
			
			<br>
			<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
			
			
		<strong id="like_count">{{ business.likes }}</strong> likes
			{% if user.is_authenticated %}
			<button id="like_btn"
				data-categoryid="{{ business.name }}"
				class="btn btn-primary btn-sm"
				type="button">
				<span data-feather="thumbs-up"></span>
				Like Business
				</button>
			{% endif %}
			

            <br><br>
            {% ifequal user business.user %}
                <a href="{% url 'voucherMe:add_post' business.slug %}">
                    <button class="btn btn-primary">Add a new post now!</button>
                </a>
            {% endifequal %}
        {% else %}
            <p style="color: aliceblue"><strong>You're lost wanderer, business does not exist</strong></p>
        {% endif %}
        <br><br>
    {% endblock %}