{% extends "voucher/base.html" %}
{% load static %}

{% block title_block %}Home!{% endblock %}
{% block body_block %}
	<div class="jumbotron p-1">
      <div class="container">
          <h3 class="jumbotron-heading" align="center">Welcome to VoucherMe</h3>
      </div>
    </div>
	<div>
    {% if posts %}
        <h2 align="center">Most viewed posts</h2>
        <ul>
        {% for post in posts %}
            <li>{{ post.name }}, {{ post.get_tags_category_display }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no Posts on VoucherMe currently :(</strong>
    {% endif %}
	</div>
	{% endblock %}
