{% extends "voucher/base.html" %}
{% load static %}

{% block title_block %}Home!{% endblock %}
{% block body_block %}
	<div class="jumbotron p-1">
      <div class="container">
          <h3 class="jumbotron-heading" align="center">Welcome to VoucherMe</h3>
      </div>
    </div>
	<div>
    {% if posts %}
        <h3 align="center">Most viewed posts</h3>
        <ul>
        {% for post in posts %}
            <li><a href="{% url 'voucherMe:show_post' post.business_id.slug post.id %}">{{ post.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no Posts on VoucherMe currently :(</strong>
    {% endif %}
	</div>
    <div>
    {% if businesses %}
        <h3 align="center">Most liked Businesses</h3>
        <ul>
            {% for business in businesses %}
                
                <li><a href="{% url 'voucherMe:show_business' business.slug %}">{{ business.name }}</a></li>
                {% if business.image %}
                    <li><img src="{{ business.image.url}}" alt="no_business_image" height="40dp" width="40dp"/></li>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no businesses register on VoucherMe yet :(</strong>
    {% endif %}
    </div>
{% endblock %}
