{% extends "voucher/base.html" %}
{% load static %}

{% block title_block %}Home!{% endblock %}
{% block body_block %}
<style>
/*
cards
*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
	<div class="jumbotron p-1">
      <div class="container">
          <h3 class="jumbotron-heading" align="center">Welcome to VoucherMe</h3>
      </div>
    </div>
	
	<center>
    {% if posts %}
        <h3 align="center">Most viewed posts</h3>
        
        {% for post in posts %}
		<div class="card">
		{{ post.get_tags_category_display }} | {{ post.get_tags_type_display }}
		<div class = "container">
            <a href="{% url 'voucherMe:show_post' post.business.slug post.id %}">{{ post.name }}</a>
			</div>
			</div>
			<br>
        {% endfor %}
        
    {% else %}
        <strong>There are no posts on VoucherMe currently :(</strong>
    {% endif %}
	</center>
	
	
	
    
	<center>
	<br>
    {% if businesses %}
        <h3 align="center">Most liked Businesses</h3>
		
        
            {% for business in businesses %}
			<div class="card">
			{% if business.image %}
			<center>
                   <img src="{{ business.image.url}}" alt="Businesses chosen image" style="width:25%"/>
                {% endif %}
                
				<div class = "container">
					<a href="{% url 'voucherMe:show_business' business.slug %}">{{ business.name }}</a>
					
				</div>
				</div>
				<br>
            {% endfor %}
			
        
    {% else %}
        <strong>There are no businesses register on VoucherMe yet :(</strong>
    {% endif %}
    
	</center>
{% endblock %}
