{% extends "voucher/base.html" %}
{% load static %}
    {% block title_block %}
        {% if post %}
            {{ post.name }}
        {% else %}
            Unknown Post :(
        {% endif %}
    {% endblock %}

    {% block body_block %}
        <script src="{% static 'js/functions.js' %}"></script>
        
            {% if post %}
                <div class="jumbotron p-1">
                    <div class="container">
                        <h3 class="jumbotron-heading" align="center">"{{ post.name }}" {{ visits }} by
                            <a href="{% url 'voucherMe:show_business' post.business.slug%}">{{ post.business }}</a>
                        </h3>
                    </div>
                </div>
                <div align="center">
                <p style="color: white"><strong>Description</strong></p>
                <p class="text">
                {{ post.description }}
                </p>
                    <p class="text">{{ post.get_tags_category_display }}</p>
                    <p class="text">{{ post.get_tags_type_display }}</p>
                {% if post.promo %}
                    <p style="color: white"><strong>Promo Code</strong></p>
                    <input type="text" value= {{ post.promo }} id="CopyCode" style="text-transform: uppercase; text-align: center"/>
                    <br/><br/>
                    <button onclick="copyText()"class="btn btn-info">Copy Promo!</button>
                {% endif %}
                </div>
            {% else %}
                <p style="color: aliceblue"><strong>You're lost wanderer, post not found :(</strong></p>
            {% endif %}
        
        <br><br>
    {% endblock %}