{% extends 'voucher/base.html' %}
{% block title_block %}
    Logged Out
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-1" style="background-color: aliceblue">
         <div class="container">
             <h2 align="center">Log out</h2>
         </div>
     </div>
    <br>
    <h4 style="color: aliceblue" align="center">
        Logged out successfully. We're sad to see you go :(
    </h4>
    <br>
    <center>
    <a href="{% url 'voucherMe:index' %}">
        <button class="btn btn-info">Home</button>
    </a>
    </center>
{% endblock %}
