{% extends 'voucher/base.html' %}
{% block title_block %}
  Register
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h2 class="jumbotron-heading">Sign up here!</h2>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <form role="form" method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username" class="sr-only">Username</label>
                    <input type="text" name="username" id="id_username" class="form-control"
                           placeholder="Username" required autofocus style="margin-bottom: 6px"><br/>
                    <label for="id_email" class="sr-only">Email Address</label>
                    <input type="email" name="email" id="id_email" class="form-control"
                           placeholder="Email Address" required autofocus style="margin-bottom: 6px"><br/>
                    <label for="id_password1" class="sr-only">Password</label>
                    <input type="password" name="password1" id="id_password1" class="form-control"
                           placeholder="Password" required autofocus style="margin-bottom: 6px"><br/>
                    <label for="id_password3" class="sr-only">Confirm Password</label>
                    <input type="password" name="password2" id="id_password3" class="form-control"
                           placeholder="Confirm Password" required autofocus style="margin-bottom: 6px"><br/>
                </div>
                <button class="btn btn-primary" type="submit" name="submit">
                    Sign up now!
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}